<!DOCTYPE html>
<html lang="en">

<%= partial "header" %>


<body>


    <!-- Header -->
    <header id="project-header" class="header">
        <div class="text-vertical-center">
            <h1>Project Name</h1>
            <h3>A short description of what this project is about.</h3>
        </div>
    </header>
    <!-- /.Header -->


    <section class="project">
        <div class="container">
            <class="row"
        </div>
    </section>




    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
        
        </script>

</body>

<%= partial "footer" %>

</html>
