    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="large-10 large-offset-1 text-center columns">
                    <h4><strong>Get in touch</strong>
                    </h4>
                    <p>Boston, MA 02115</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> 330.618.9776</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:hulsey.nathan@gmail.com">hulsey.nathan@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.flickr.com/photos/112971126@N05/"><i class="fa fa-flickr fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="http://behance.net/nathanhulsey"><i class="fa fa-behance fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://dribbble.com/nhulz"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Nathan Hulsey 2014 </p>
                </div>
            </div>
        </div>
    </footer>
