<div class="sticky">
<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
             <h1><a href="#">Nathan Hulsey</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="index.html"><span>Home</span></a>
        </li>
    </ul>
    <section class="top-bar-section">
    <ul class="left">
        <li class="divider"></li>
        <li><a href="index.html">Home</a></li>
        <li class="divider"></li>
    </ul>
</section>
</nav>
</div>