<!DOCTYPE html>
<html lang="en">

<%= partial "header" %>
<%= partial "nav" %>

<body>
    <!-- Header -->
    <header id="project-header" class="header">
        <img id="header-img" src="../img/projects/bradbury_thompson/header_bradbury.png">
    </header>
    <!-- /.Header -->


    <section class="project">
        <div class="container">
            <div class="row">
                <div class="large-8 large-offset-2 columns">
                <h4 id="project-name">BRADBURY THOMPSON TIMELINE</h4>
                <div id="project-surname">Print Design</div>
                <p>My final assignment for History of Graphic Design, taught by my Professor, <a blank="target" hfef="http://www.risd.edu/academics/graphic-design/faculty/Doug-Scott/">Doug Scott</a>, was to design a collapsable timeline highlighting a given famous Graphic Designer. I was given Bradbury Thompson. After reading <i>The Art of Graphic Design</i> to learn more about Bradbury, I was completely enthralled. The book, the work that lies within the pages, all masterful compositions of image and type, making the ardous task of designing and printing with a lithographic offset printer look like play.</p>
            </div>
        </div>
    </section>


    <section class="project">
        <div class="row">
            <hr>
            <div class="large-6 columns">              
                <img src="../img/projects/bradbury_thompson/bradbury_fold-01.jpg">
            </div>
            <div class="large-6 columns">
                <img src="../img/projects/bradbury_thompson/bradbury_fold-02.jpg">
            </div>
            <hr>
        </div>
    </section>

    <section class="project">
        <div class="row">
            <div class="large-8 large-offset-2 columns">
                <p>After scanning page after page of Bradbury's <i>Inspirations</i> spreads, my timeline's format began to take shape. Using the CYMK color pallate and three panel spreads, I borrowed from Bradbury's own techniques used during his time as Art Director for the publication. Inspired by <i>Inspirations</i> (hah!) I again chose to design in the spirit of Bradbury Thompson, using two of his favorites: Baskerville and Futura. The timeline itself highlights Bradbury's lfe events under Magenta, other artist's lives under Yellow, and historical events under Cyan.</p>
            </div>
        </div>
    </section>

        <section class="project">
        <div class="row">
            <hr>
            <div class="large-8 large-offset-2 columns">
                <img src="../img/projects/bradbury_thompson/bradbury_cover.jpg">
            </div>
            <hr>
        </div>
    </section>

        <section class="project">
        <div class="row">
            <div class="large-8 large-offset-2 columns">
                <p>Above is the cover of the final printed design. The cover was inspired by Bradbury's combination of "type and image", I wanted to begin by highlighting type, and then adding image with the opening of the pamphlet. To create this effect, I worked with my 3D foundations teacher <a target="blank" href="http://www.northeastern.edu/camd/artdesign/people/benjamin-caras/">Ben Caras</a> to lasercut out the letters in order to give the "keyhole" effect. This was a long and frustrating process where I learned the limitations of modern printers. However, after hours of bumping and nudging the design around the screen, we finally hit it perfectly. Below you can see the cover exposed from the outer laser-cut flap.
        </div>
    </section>

        <section class="project">
        <div class="row">
            <hr>
            <div class="large-12 columns">              
            <div class="videoWrapper">
            <div id="issuu" data-configid="13778203/9534971" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
            </div>
        </div>
        </div>
    </section>

 <div class="row"> <!-- Prev and Next Proj. -->
    <div class="large-12 columns">
        <a href="/pttech.html">← Previous Project</a>
        <a style="float: right;"href="/idea.html">Next Project →</a>
    </div>

</body>

<%= partial "footer" %>

</html>
