<!DOCTYPE html>
<html lang="en">

<%= partial "nav" %>

<body>
    <!-- Header -->
    <header id="project-header" class="header">
        <img id="header-img" src="img/projects/edible_arrangements/header_edible.png">
    </header>
    <!-- /.Header -->


    <section class="project">
        <div class="container">
            <div class="row">
                <div class="large-8 large-offset-2 columns">
                <h4 id="project-name">EDIBLE ARRANGEMENTS</h4>
                <div id="project-surname">Mock Rebranding Proposal</div>
                <p>The Edible Arrangements rebranding proposal was written for my Advanced Writing in the Creative Industries class. In this class, we examined different types of writing such as blogging, album reviews, and marketing campaigns. Our final project was to write a serious mockup of a form of writing found in our discipline. I chose to write to Edible Arrangements proposing an update of their current logo. You can read the full proposal below.</p>
            </div>
        </div>
    </section>


    <section class="project">
        <div class="row">
            <hr>
            <div class="large-12 columns">              
                <img src="img/projects/edible_arrangements/edible_process.png"
            </div>
            <hr>
        </div>
    </section>

    <section class="project">
        <div class="row">
            <div class="large-8 large-offset-2 columns">
                <p>Above is a snapshot of my process for designing a new logo for the Edible Arrangements franchise. After testing a variety of typefaces, I felt that a combination of sans serif and serif worked best. Using Futura and Didot my goal was to create a feeling of modern luxury, highlighting the fact that Edible Arrangements are a work of art in their own right.</p>
            </div>
        </div>
    </section>

        <section class="project">
        <div class="row">
            <hr>
            <div class="large-8 large-offset-2 columns">
                <img src="img/projects/edible_arrangements/edible_logo.png">
            </div>
            <hr>
        </div>
    </section>

        <section class="project">
        <div class="row">
            <div class="large-8 large-offset-2 columns">
                <p>Finally, to complete the transformation, I redesigned the brand "mark" or in other words, the abstracted flowerpot graphic currently used in the brand. By borrowing some of the shapes from the current design, I was able to extrapolate on these forms and create something that matched the modern but elegant typeface combination. I used solid pastel colors, smooth shapes, and a slight decrease in opacity to create the flower shapes you see above in the final logo design.
        </div>
    </section>

        <section class="project">
        <div class="row">
            <hr>
            <div class="large-12 columns">              
            <div class="videoWrapper">
            <div id="issuu" data-configid="13778203/9617928" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
            </div>
        </div>
        </div>
    </section>

 <div class="row"> <!-- Prev and Next Proj. -->
    <div class="large-12 columns">
        <a href="mycestro.html">← Previous Project</a>
        <a style="float: right;"href="pttech.html">Next Project →</a>
    </div>

</body>

<%= partial "footer" %>

</html>
