
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <div id="header-text">
            <h1><strong>Nathan Hulsey</strong></h1>
            <h3>Design | Web | Photography</h3>
        </div>
            <br>
            <!-- <a href="#about" class="margin btn btn-dark btn-lg">Find Out More</a> -->
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="large-12 columns">
                    <h2 class="text-center">About Me</h2>
                    <hr class="small">

                    <div class="large-4 columns text-center">
                        <div class="about-pic"><img src="img/me.png"></div>
                        <hr class="small">
                        <p>
                        Check out my <a target="blank" href="img/nathan_hulsey_resume.pdf">Résumé</a></p>
                    </div>                    
                    <div class="large-7 columns">
                        <p>
                        Hello, and thanks for visiting my site! I'm Nathan, <br/>a Graphic Design and Interactive Media major at Northeastern University in Boston, MA. </p>
                        <p>
                        As a designer I am constantly challenging myself to develop my skills and learn as much as I can from my peers and teachers who I have the pleasure of working with every day. <br/>While I'm not in class, I work with the incredible student designers at <a target="blank" href="http://northeastern.edu/scout">Scout</a>, and with the dedicated management team at <a target="blank" href="http://northeastern.edu/idea">IDEA</a>. When I'm not working I am almost certainly outside or at a concert, my two greatest loves next to design, of course.

                        I hope this collection of work gives you insight into my process, my influences, and the experiences that have made me the designer that I am today, thank you!</p>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <section id="services" class="services">
        <div class="container">
            <div class="row text-center">
                <div class="large-12 columns">
                    <h2>What I do</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="medium-3 small-6 columns">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-pencil fa-stack-1x blue"></i>
                            </span>
                                <h4>
                                    <strong>Design</strong>
                                </h4>
                                <p>UI/UX, Identity & Branding in the Adobe Creative Suite </p>
                                <!-- <a href="#" class="btn btn-light">Learn More</a> -->
                            </div>
                        </div>
                        <div class="medium-3 small-6 columns">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-camera-retro fa-stack-1x blue"></i>
                            </span>
                                <h4>
                                    <strong>Photography</strong>
                                </h4>
                                <p>Just me and my trusty Canon 6D. Commercial, studio, and on-site</p>
                                <!-- <a href="#" class="btn btn-light">Learn More</a> -->
                            </div>
                        </div>
                        <div class="medium-3 small-6 columns">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-code fa-stack-1x blue"></i>
                            </span>
                                <h4>
                                    <strong>Web Dev</strong>
                                </h4>
                                <p>I build websites using HTML, CSS, and WordPress</p>
                                <!-- <a href="#" class="btn btn-light">Learn More</a> -->
                            </div>
                        </div>
                        <div class="medium-3 small-6 columns">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-comments-o fa-stack-1x blue"></i>
                            </span>
                                <h4>
                                    <strong>Collaborate</strong>
                                </h4>
                                <p>I love being a part of a team and working with other creative minds</p>
                                <!-- <a href="#" class="btn btn-light">Learn More</a> -->
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="large-12 text-center columns">
                    <h2>My Work</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="medium-4 columns">
                            <div class="portfolio-item">
                                <a href="idea.html">
                                    <figure class="cap-bot">
                                    <img class="img-portfolio img-responsive" src="img/thumbnails/idea_thumb.png">
                                        <figcaption>
                                            A complete website redesign and branding update for Northeastern University's student-led venture accelerator.
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="medium-4 columns">
                            <div class="portfolio-item">
                                <a href="shredcast.html">
                                    <figure class="cap-bot">
                                    <img class="img-portfolio img-responsive" src="img/thumbnails/shredcast_thumb.png">
                                        <figcaption>
                                            An app currently in development which ranks the users favorite ski mountains based on the conditions that matter the most to them.
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="medium-4 columns">
                            <div class="portfolio-item">
                                <a href="mycestro.html">
                                    <figure class="cap-bot">
                                    <img class="img-portfolio img-responsive" src="img/thumbnails/mycestro_thumb.png">
                                        <figcaption>
                                            A wearable, gesture controlled, plug-in-play wireless mouse, currently on the market. Featured on TechCrunch, Wired, and Gizmag.
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="medium-4 columns">
                            <div class="portfolio-item"> 
                                <a href="edible_arrangements.html">
                                    <figure class="cap-bot">
                                    <img class="img-portfolio img-responsive" src="img/thumbnails/ediblearrange_thumb.png">
                                        <figcaption>
                                            A logo-redesign proposal for Edible Arrangements made for my Advanced Writing in the Creative Industries class.
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="medium-4 columns">
                            <div class="portfolio-item"> 
                                <a href="pttech.html">
                                    <figure class="cap-bot">
                                    <img class="img-portfolio img-responsive" src="img/thumbnails/pttech_thumb.png">
                                        <figcaption>
                                            Website redesign and on-site photography for a mid-sized metal stamping and plastic tooling company outside of Detroit, MI.
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="medium-4 columns">
                            <div class="portfolio-item"> 
                                <a href="bradbury_thompson.html">
                                    <figure class="cap-bot">
                                    <img class="img-portfolio img-responsive" src="img/thumbnails/bradbury_thumb.png">
                                        <figcaption>
                                            A timeline on Bradbury Thompson designed for my History of Graphic Design class.
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <a target="blank" href="https://www.behance.net/collection/26195595/Portfolio-Projects" class="btn btn-dark">View Smaller Projects</a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>



<%= partial "footer" %>

    <!-- Custom Theme JavaScript -->
    <script type="text/javascript">

    $( document ).ready(function() {
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });        
});
   
    
    </script>

