<!DOCTYPE html>
<html lang="en">

<%= partial "nav" %>

<body>
    <!-- Header -->
    <header id="project-header" class="header">
        <img id="header-img" src="img/projects/mycestro/header_mycestro.png">
    </header>
    <!-- /.Header -->


    <section class="project">
        <div class="container">
            <div class="row">
                <div class="large-8 large-offset-2 columns">
                <h4 id="project-name"> MYCESTRO</h4>
                <div id="project-surname">Graphic Design & Marketing Internship</div>
                <p>The Mycestro is a wireless, gesture controlled mouse that you wear on your finger. Using the built-in gyroscope and accelerometer, the Mycestro can detect movement without the use a sensor bar. All of your regular mouse functions, such as clicking and scrolling, are controlled via the touch-sensitive panel on the device.</p>

                <p>I had the pleasure of working with Innovative Devices Inc. as their Graphic Design and Marketing Intern. There I was part of a small startup team of seven people and a small Chihuahua named Max. During my internship I was in charge of the entire visual presence of the product, conducting multiple photo and video shoots as well as designing all major print and presentation documents. My tasks also extended to wherever the team needed me, such as in customer support or shipping.</p> 
                <p>Learn more about the Mycestro <a target="blank" href="http://mycestro.com">here</a>.
            </div>
        </div>
    </section>


    <section class="project">
        <div class="row">
            <hr>
            <div class="large-6 small-12 columns">
                <img src="img/projects/mycestro/mycestro-01.jpg">
            </div>
                        <div class="large-6 columns">

                <img src="img/projects/mycestro/mycestro-02.jpg">
            </div>
            <hr>
        </div>
    </section>

    <section class="project">
        <div class="row">
            <div class="large-8 large-offset-2 columns">
                <p>Working closely with the Inventor and Founder, <a target="blank" href="www.linkedin.com/pub/nicholas-mastandrea/1b/b33/494">Nick Mastandrea</a> and my mentor and CEO, <a target="blank" href="www.linkedin.com/pub/stephanie-takai/5/731/841">Stephanie Takai</a>, I designed several documents such as the investor pitch one-pager and product Quick Start Guide, depicted below. The Quick Start Guide ships with each Mycestro device as a 9-fold double-sided document.</p>
            </div>
        </div>
    </section>

        <section class="project">
        <div class="row">
            <hr>
            <div class="large-8 large-offset-2 columns">
                <img src="img/projects/mycestro/mycestro_usermanual.jpg">
            </div>
            <hr>
        </div>
    </section>

        <section class="project">
        <div class="row">
            <div class="large-8 large-offset-2 columns">
                <p>When I began working at Innovative Devices, the company has just finished their <a target="blank" href="https://www.kickstarter.com/projects/mycestro/mycestrotm-the-next-generation-3d-mouse">Kickstarter Campaign</a>, tripling their original goal of $100,0000. They were finally out of prototype stage and ready to ship the product to their backers.</p>

                <p>However, now that the product was available and shipping, they needed to update all of the previous photography done before the Kickstarter campaign. Along with their Google Ad camapigns and website photography, I also filmed and edited user guide videos on the Mycestro website, and the product trailer video below. This video was shot to update the previous Kickstarter video which had become outdated.
        </div>
    </section>

        <section class="project">
        <div class="row">
            <hr>
            <div class="large-8 large-offset-2 columns">
                <div class="videoWrapper">
                <iframe src="//player.vimeo.com/video/108196182" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            </div>
        </div>
    </section>

 <div class="row"> <!-- Prev and Next Proj. -->
    <div class="large-12 columns">
        <a href="shredcast.html">← Previous Project</a>
        <a style="float: right;"href="edible_arrangements.html">Next Project →</a>
    </div>

</body>

<%= partial "footer" %>

</html>
