<!DOCTYPE html>
<html lang="en">

<%= partial "header" %>


<body>
<%= partial "nav" %>


    <!-- Header -->
    <header id="project-header" class="header">
        <img id="header-img" src="../img/projects/idea_website/header_idea.png">
        <div class="text-vertical-center">
        </div>
    </header>
    <!-- /.Header -->


    <section class="project">
        <div class="container">
            <div class="row">
                <div class="large-8 large-offset-2 columns">
                <h4 id="project-name"> IDEA REDESIGN</h4>
                <p>IDEA is Northeastern University’s student led and operated venture accelerator. The organization provides a variety of resources to Northeastern affiliated entrepreneurs looking to start their own businesses. Through the “Ready, Set, Go” stage-gate process, IDEA provides ventures with coaches, mentors, business planning resources, and the ability to apply for gap funding. </p>
                <p>As a studio member at Scout I was the lead developer on the project, aiding the design team in critiques on user experience and coding a completely custom mobile-ready WordPress theme. As the Creative Officer at IDEA, I was tasked with revisiting the organization’s branding and refresh it side-by-side with the development of the new website.</p>
            </div>
        </div>
    </section>


    <section class="project">
        <div class="row">
            <hr>
            <div class="large-8 large-offset-2 columns">
                <img src="img/projects/idea_website/website_views.png">
            </div>
            <hr>
        </div>
    </section>

    <section class="project">
        <div class="row">
            <div class="large-8 large-offset-2 columns">
                <p>The IDEA brand utilized two main colors along with black and white. The original branding was done to reflect a simple and clean look with a focus on photography. As time progressed, however, the designs representing IDEA moved away from photography and focused more on typographical compositions, utilizing the brand typefaces of Baskerville and Helvetica Neue.</p>
                <p>As website development progressed, we wanted to push the IDEA brand to add a layer of complexity to a stale brand to help the website feel more substantial. Prior to the redesign, the IDEA site felt too sparse and empty. By adding new colors and subtle patterns as the fifth element to the branding package we reached a solution that both teams were happy with.</p>
            </div>
        </div>
    </section>

        <section class="project">
        <div class="row">
            <hr>
            <div class="large-8 large-offset-2 columns">
                <img src="../img/projects/idea_website/idea_colors.png">
                <img src="../img/projects/idea_website/idea_patterns.png">
            </div>
            <hr>
        </div>
    </section>

        <section class="project">
        <div class="row">
            <div class="large-8 large-offset-2 columns">
                <p>On the development side, I worked on building the custom WordPress theme that would later be handed over to the IDEA team so that they could easily maintain and update their site. Working closely with my teammates at Scout on the project, I was able to build in featured posts, easy-to-create team member profiles, and many other functions that helped the website feel dynamic and polished. Along with this, I used Advanced Custom Fields to make an easily digestible WordPress back-end to help maintain the site's content.</p>
            </div>
        </div>
    </section>

        <section class="project">
        <div class="row">
            <hr>
            <div class="large-12 columns">
                <div class="large-6 columns">                
                    <img src="img/projects/idea_website/website_thumb_views.svg">
                </div>
                <div class="large-6 columns">
                    <img src="img/projects/idea_website/venture_animation.gif">
                </div>

            </div>
            <hr>
        </div>
    </section>


</body>

<%= partial "footer" %>

</html>
