<!DOCTYPE html>
<html lang="en">

<%= partial "header" %>
<%= partial "nav" %>

<body>
    <!-- Header -->
    <header id="project-header" class="header">
        <img id="header-img" src="../img/projects/pttech/header_pttech.png">
    </header>
    <!-- /.Header -->


    <section class="project">
        <div class="container">
            <div class="row">
                <div class="large-8 large-offset-2 columns">
                <h4 id="project-name">PT TECH</h4>
                <div id="project-surname">On-site Photography, Logo Design, WordPress</div>
                <p>Plastic Tooling & Technologies is a mid-sized plastic tooling and metal stamping company in the Detroit area of Michigan. PT Tech hired Takai & Company to completely redesign their website which had not been updated for several years. After redesinging their logo, we began constructing the website off of a premade WordPress theme. The goal of the site is to create successful web presence for the company and funnel potential costumers to the company via web.</p>
            </div>
        </div>
    </section>


    <section class="project">
        <div class="row">
            <hr>
            <div class="large-12 columns">              
            <div class="videoWrapper">
                <div id="issuu" data-configid="13778203/9619844" class="issuuembed"></div><script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
            </div>
        </div>
            <hr>
        </div>
    </section>

    <section class="project">
        <div class="row">
            <div class="large-8 large-offset-2 columns">
                <p>Above is a collection of all the logo variations prepared for the client in order to arrive at a solution. The orange and gray color combination was suggested by the client and developed into a versitile logo that could set the tone for the branding update to follow. Overall there were five logo iterations, and the cliented opted for a logo that was primarily typographical.</p>
            </div>
        </div>
    </section>

        <section class="project">
        <div class="row">
            <hr>
            <div class="large-6 columns">
                <img src="../img/projects/pttech/pttech-01.jpg">
            </div>
            <div class="large-6 columns">
                <img src="../img/projects/pttech/pttech-02.jpg">
            </div>
            <div class="large-6 columns">
                <img src="../img/projects/pttech/pttech-03.jpg">
            </div>
            <div class="large-6 columns">
                <img src="../img/projects/pttech/pttech-04.jpg">
            </div>
            <hr>
        </div>
    </section>

        <section class="project">
        <div class="row">
            <div class="large-8 large-offset-2 columns">
                <p>In order to acquire all the necessary content to make a successful website, we needed original photography. For two days my boss and I were in Michigan photographing the facilities and offices of PT Tech. This project was challenging as shooting in such an enviornment was hazardous. Welding, stamping, heavy lifting, and sottering were all simoultaneously occuring throughout the factory. However, this challenge taught me a lot about commercial photography and how to interact with different kinds of employees to get the best pictures possible.
        </div>
    </section>

        <section class="project">
        <div class="row">
            <hr>
            <div class="large-8 large-offset-2 columns">  
            <img src="../img/projects/pttech/pttech_home.png">            
        </div>
        </div>
    </section>

 <div class="row"> <!-- Prev and Next Proj. -->
    <div class="large-12 columns">
        <a href="/edible_arrangements.html">← Previous Project</a>
        <a style="float: right;"href="/bradbury_thompson.html">Next Project →</a>
    </div>
    
</body>

<%= partial "footer" %>

</html>
