<!DOCTYPE html>
<html lang="en">

<%= partial "header" %>
<%= partial "nav" %>

<body>
    <!-- Header -->
    <header id="project-header" class="header">
        <img id="header-img" src="../img/projects/shredcast/header_shredcast.png">
    </header>
    <!-- /.Header -->


    <section class="project">
        <div class="container">
            <div class="row">
                <div class="large-8 large-offset-2 columns">
                <h4 id="project-name"> SHREDCAST</h4>
                <div id="project-surname">UI / UX Design</div>
                <p>ShredCast is an app that provides Skiers and Snowboarders with customized conditions-based ratings for their favorite mountains. Using weather and conditions data broadcasted by mountain resorts, ShredCast creates a score based on the conditions that matter most to you.</p>
                
                <p> I am currently acting as front-end designer and developer on this project with my friends/partners in crime <a target="blank" href="www.linkedin.com/in/maxskala">Max Skala</a> and <a target="blank" href="http://ezmacdesigns.com/porfolio/index.html">Evan McEldowney</a>. </p>
            </div>
        </div>
    </section>


    <section class="project">
        <div class="row">
            <hr>
            <div class="large-8 large-offset-2 columns">
                <img src="../img/projects/shredcast/shredcast_logo1.png">
                <img src="../img/projects/shredcast/shredcast_logo2.png">
            </div>
            <hr>
        </div>
    </section>

    <section class="project">
        <div class="row">
            <div class="large-8 large-offset-2 columns">
                <p>The idea for ShredCast was born from the desire to quickly access weather information from the mountains my buddies and I had a three-mountain season pass to. As early risers and weekend daytrippers, we wanted a way to quickly see which mountain had the best conditions on the day we desired to shred. </p>

                <p>On the lift at Loon the discussion began, "I already have sick name for it, we'll call it ShredCast."</p>
            </div>
        </div>
    </section>

        <section class="project">
        <div class="row">
            <hr>
            <div class="large-8 large-offset-2 columns">
                <img src="../img/projects/shredcast/shredcast_iteration1.png">
            </div>
            <hr>
        </div>
    </section>

        <section class="project">
        <div class="row">
            <div class="large-8 large-offset-2 columns">
                <p>The branding and original app concept was inspired by a flat UI and the romanticized colors of ice and snow. Originally invisioned as a mobile app, the team opted to begin with a web app that was mobile ready as our MVP. Above is the original concept for the mobile app, and below is our first iteration of a functioning website. </p>
            </div>
        </div>
    </section>

        <section class="project">
        <div class="row">
            <hr>
            <div class="large-6 columns">
                <img src="../img/projects/shredcast/shredcastv1-02.png">
            </div>
            <div class="large-6 columns">
                <img src="../img/projects/shredcast/shredcastv1-01.png">
            </div>
            <hr>
        </div>
    </section>

    <section class="project">
        <div class="row">
            <div class="large-8 large-offset-2 columns">
                <p>After our first itteration of the project, we had a much better grasp at how this app needed to be structured. Our first approach used a simple .json file which contained the collected mountain data. The .json was manually inputted as a mock pull from an API for mountain weather conditions. We used jQuery to then collect and dislay the information through the front-end of the site. 
                <p>The next iteration of the site is being built using a stack of SASS, jQuery, and .Backbone with the help of a python and jango back-en. Below are the newest front-end high-fidelity mockups.</p>
            </div>
        </div>
    </section>


        <section class="project">
        <div class="row">
            <hr>
            <div class="large-8 large-offset-2 columns">
                <img src="../img/projects/shredcast/shredcast_browser-02.png">
                <img src="../img/projects/shredcast/shredcast_browser-01.png">
            </div>
        </div>
    </section>

 <div class="row"> <!-- Prev and Next Proj. -->
    <div class="large-12 columns">
        <a href="/idea.html">← Previous Project</a>
        <a style="float: right;"href="/mycestro.html">Next Project →</a>
    </div>

</body>

<%= partial "footer" %>

</html>
